{# twig template #}
{# app/Resources/views #}
{% extends 'base.html.twig' %}

{% block body %}
{% for product in products %}
    <h3>{{ product.name }} ({{ product.price|number_format }})
{% endfor %}
{% endblock %}

{% block title %}
  Products
{% endblock %}

