{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <h1>Lucky Numbers: {{ luckyNumberList }}</h1>
{% endblock %}

{% block title %}
  Bienvenidos!
{% endblock %}
